/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

@font-face {
  font-family: "ELANOR";
  src: url("./assets/fonts/Elanor.otf");
}

@font-face {
  font-family: "MUNDIAL";
  src: url("./assets/fonts/MundialRegular.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

p,
label,
li {
  font-family: "MUNDIAL", sans-serif;
}

h1,
h2,
h3 {
  font-family: "ELANOR", serif;
}

.mask {
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-position: center;
  -webkit-mask-image: url(./assets/images/palace.png);
  mask-image: url(./assets/images/palace.png);
  -webkit-mask-repeat: no-repeat;
  mask-size: 75vmin;
  mask-repeat: no-repeat;
  mask-position: center;
}

.mask1 {
  background-image: url(./assets/images/foods.jpg);
}

.mask2 {
  background-image: url(./assets/images/soup.jpg);
}
